body {
    background-color: #eff5f8
  }
  
  .start-button {
    padding: 10px;
    margin: 24px;
    cursor: pointer;
    font-size: 24px;
    background-color: #247BA0;
    color: white;
  }
  button {
    display:flex;
    flex-direction: row;
    margin-bottom: 5px;
    min-width: 20%;
  }
.question {
  font-size: 20px;
  font-weight: bold;
}
  nav {
      display: flex;
      justify-content: space-between;
  }
  .header-container {
    display: block;
    margin: 80px auto;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 60vw;
    background-color: #f0ead6;
  }
  
  